
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>addempDb</title>
</head>
<body>
    <div> 
        @if(ViewBag.im!=null)
        {
            <img src="@ViewBag.im" />
        }
    </div>
</body>
</html>
